// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	background: none;
	border: 1px solid $light-gray500;
	border-radius: 4px;
	padding: 15px;
	outline: none;
	width: 100%;
	color: $black;

	&:focus {
		border-color: $black;
	}

	&.error {
		border-color: $red;

		@include placeholder {
			color: $red;
		}
	}
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

label[for="phone"] {
	font-size: 13px;
	letter-spacing: -.4px;
	color: $gray;
	display: block;
	margin: -3px 0 0 15px;
	position: relative !important;
	left: auto !important;
	top: auto !important;
}

.field {
	position: relative;
	display: block;
	margin-bottom: 50px;

	&.name-field,
	&.email-field,
	&.phone-field {

		label {
			position: absolute;
			left: 17px;
			top: 13px;
			pointer-events: none;
			transition: all 0.2s ease;
			color: $gray;
		}

		input:focus + label,
		input:not(:placeholder-shown) + label {
			top: -8px;
			left: 8px;
			background: $light-gray;
			padding: 0 5px;
			font-size: 12px;
		}

		input {

			@include placeholder {
				opacity: 0;
				color: $light-gray;
			}
		}
	}

	&.checkbox-field {
		margin-top: -30px;
		margin-bottom: 40px;

		label {
			display: flex;
			align-items: center;
			cursor: pointer;
			margin-bottom: 7px;
			user-select: none;
			position: relative;
			padding-left: 32px;
			position: relative;
			left: auto;
			top: auto;
		}

		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;

			&:checked ~ .checkmark {
				@include size(20px);

				background: $blue;
				border-color: $blue;

				&:after {
					@include size(18px);

					content: "";
					position: absolute;
					left: 0;
					top: 0;
					background: $blue;
					border: 4px solid $white;
					border-radius: 100%;
				}
			}
		}

		.checkmark {
			@include size(20px);

			background: $white;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			border: 1px solid $light-gray500;
			border-radius: 100%;
			transition: all 0.2s ease;
		}
	}

	&.error {

		input,
		.btn {
			border-color: $red;
		}

		label {
			color: $red;
		}
	}
}

legend {
	margin: 0 0 10px;
}

.file-field {
	display: flex;
	align-items: center;
	border-radius: 4px;
	overflow: hidden;
}

.default_doc {
	display: none;
}

.file-name {
	padding: 10px;
	border: 1px solid $light-gray500;
	border-left: none !important;
	border-radius: 0 4px 4px 0 !important;
	font: 16px/1 $base-font-sans-serif;
	cursor: pointer;
	outline: none;
	min-height: 54px;

	@include media ('>=tablet') {
		padding: 15px;
	}

	&:focus {
		border-color: $light-gray500 !important;
	}
}

.error-msg {
	font-size: 12px;
	line-height: 1.17;
	color: $red;
}
